#video {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

#qr-code-container {
    margin: 1rem;
    display: flex;
    justify-content: center;
    max-height: 30rem;
    height: 100%;
    max-width: 30rem;
    width: 100%;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#qr-code-container-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
}