<!DOCTYPE html>
<html>

<head>
    <title>QR Code Login</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/qr-code-login.css">
</head>

<body>
    <div id="qr-code-container">
        <div id="qr-code-container-inner">
            <h2>Scan QR code from Dashboard here:</h2>
            <video id="video" autoplay></video>
            <canvas id="canvas" hidden></canvas>
        </div>
    </div>

    <script type="module" src="/static/js/qr-code-login.mjs"></script>
</body>

</html>